.b-main__content {
  width: 100%;
  top: 40px;
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content__button {
  text-align: center;
  display: block;
  width: 386px;
  height: 45px;
  margin: 0 auto;
  background: #2c467f;
  line-height: 45px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
