.b-main__content {
  width: 80%;
  top: 40px;
  margin: 0 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content__button {
  min-width: 140px;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 30%;
  height: 45px;
  margin: 0 35%;
  background: #2c467f;
  line-height: 45px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
